.nav-item{
    float: left;
    width: 16%;
    text-align: center;
    border-color: #ffb84d;
}
#nav{
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}
title{
    text-align: center;
    font-family: Impact, fantasy;
    color: #ffb84d;
}
#panel-photo{
    float: left;
    height: 500px;
    width: 500px;
    padding: 20px;
}
img{
    width: 100%;
}
#class-photo{
    float: right;
    height: 500px;
    width: 500px;
}
#sidebar{
    float: right;
    width: 25%;
   
}
#article{
    float: left;
    width: 75%;
}
.footer-item{
    float:left;
    width: 25%;
    text-align: center;
}
#footer{
    clear:both;
    padding: 20px 0 20px 0;
    margin-bottom: 10px;
}